body {
	  background-image: url('../images/RadioDanaM.jpg');
	  background-repeat: no-repeat;
	  background-attachment: fixed;  
	  background-size: cover;
}
@media only screen and (orientation: landscape) {
	/* For landscape mode: */
	body {
		background-image: url('../images/RadioDana.jpg');
	}
}
.scroll {
	opacity: 0.25;
}
h2 {
	-webkit-text-stroke: 0.5px white;
}
h4 {
	color: rgb(13,8,85);
	-webkit-text-stroke: 0.25px white;
}
p {
	direction: rtl;
	background: rgba(5, 37, 50, 0.5);
	color: rgb(200,200,200);
}
iframe {
	border: none;
	width: 100%;
	vertical-align: text-bottom;
}
.icon-bar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(5, 37, 50, 0.75);
	overflow: auto;
}
.icon-bar a {
	float: left;
	width: 20%;
	text-align: center;
	padding: 5px 0;
	transition: all 0.3s ease;
	font-size: 36px;
}
.icon-bar a[title="Home"]:hover {
	color: #052532 !important;
	background-color: #ABEBF4;
}
.icon-bar a[style="color:#4267B2"]:hover {
	background-color: #4267B2;
}
.icon-bar a[style="color:#25D366"]:hover {
	background-color: #25D366;
}
.icon-bar a[style="color:#0088CC"]:hover {
	background-color: #0088CC;
}
.icon-bar a[style="color:#FF0000"]:hover {
	background-color: #FF0000;
}
.icon-bar a:hover, a:active {
	color: white !important;
}
a:link, a:visited {
	color: orange;
}
a:hover, a:active {
	background-color: white;
}
